body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333;
}
.grid-container{
    padding-left: 20%;
    padding-right: 20%;
}
#inputs{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}